h1,
h2 {
  color: #2a2460;
}
.about-container {
  padding: 25px;
}
h6, p{
  text-align: left;
}
h1 {
  font-size: 60px;
}
.bgi {
  background-color: #b8c7d0;
}
.profile-image {
  width: 50%;
  border: 1px solid grey;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
  h3,
  h6 {
    margin-top: 10px;
  
  }
}
