.contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
}

.contact-me span,h5 {
  margin: 0 10px;
  color: rgb(74, 74, 74);
}

.contact-me > span:hover {
  color: black;
}
.contact-container {
  background: #11111a;
  padding: 40px;
}
